@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background: linear-gradient(to bottom, #317, #EEE);
  --foreground: #272728;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #317, #112);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

button {
	@apply rounded min-w-20 uppercase text-sm;
	font-weight: bold;
}

/* ---------------------------- COLORS PRIORITIES --------------------------- */
.bg-primary {
	@apply bg-blue-400 text-white;
}

.bg-lastly {
	@apply bg-red-400 text-white;
}

/* -------------------------- COLORS BASED ON STATE ------------------------- */
.bg-valid {
	@apply bg-green-400 text-white;
}